{% extends "dashboard/layout.html" %}
{% load static %}
{% block contant %}

    <main class="flex-grow-1 overflow-auto pt-4 px-5 bg-light">
        <h2 class="fs-6 fw-semibold mt-3 mb-4">
            All Appointments
        </h2>
        <div class="table-responsive">
            <table class="table table-bordered align-middle text-nowrap text-secondary small">
                <thead class="table-light">
                    <tr>
                    <th scope="col" class="text-start">#</th>
                    <th scope="col" class="text-start">Patient</th>
                    <th scope="col" class="text-start">Date &amp; Time</th>
                    <th scope="col" class="text-start">Doctor</th>
                    <th scope="col" class="text-start">Fees</th>
                    <th scope="col" class="text-start">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in appointments %}
                        <tr>
                            <td class="text-muted">{{ forloop.counter  }}</td>
                            <td class="d-flex align-items-center gap-2 text-dark">
                                <div class="rounded-circle bg-primary-subtle d-flex justify-content-center align-items-center" style="width: 24px; height: 24px;">
                                    <img src="https://storage.googleapis.com/a1aa/image/ef585074-3191-4e32-59db-a6a809fe11aa.jpg" width="16" height="16" class="rounded-circle" alt="User avatar">
                                    </div>
                                    <span class='text-capitalize'>
                                        {{ appointment.user.username }}
                                    </span>
                            </td>
                            <td>{{ appointment.appointment_date }}, {{ appointment.appointment_time }}</td>
                            <td class="d-flex align-items-center gap-2">
                                <img src="{{ appointment.doctor.image.url }}" class="rounded-circle" width="28" height="28" alt="Doctor avatar">
                                {{ appointment.doctor.name }}
                            </td>
                            <td>${{ appointment.doctor.fees }}</td>
                            <td class='text-center'>
                                {% if appointment.status == 'Pending' %}
                                    <div class='d-flex justify-content-center'>
                                        <form method="post" action="{% url 'cancel_appointment' appointment.id %}">
                                            {% csrf_token %}
                                            <button class="btn btn-sm btn-light border text-danger rounded-circle p-0 me-2" style="width: 24px; height: 24px;">×</button>
                                        </form>
                                        <form method="post" action="{% url 'approved_appointment' appointment.id %}">
                                            {% csrf_token %}
                                            <button class="btn btn-sm btn-light border text-success rounded-circle p-0" style="width: 30px; height: 30px;">✓</button>
                                        </form>
                                    </div>
                                {% elif appointment.status == 'Approved' %}
                                    <p class="text-success m-0 small">Complated</p>
                                {% else %}
                                    <p class="text-danger m-0 small">Cancelled</p>
                                {% endif %}
                                
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </main>


{% endblock %}
