{% extends "dashboard/layout.html" %}
{% load static %}
{% block contant %}

    <section class="flex-grow p-5 bg-light w-100">
        <div class="d-flex flex-wrap gap-3 mb-4">
            <div class="d-flex align-items-center bg-white rounded px-4 py-2 shadow-sm min-w-160">
                <img src="{% static "assets/assets_admin/doctor_icon.svg" %}" alt="Doctor Icon" width="35" class="me-3" />
            <div>
                <p class="h5 fw-semibold text-dark mb-0">{{ total_doctors }}</p>
                <small class="text-muted">Doctors</small>
            </div>
            </div>
            <div class="d-flex align-items-center bg-white rounded px-4 py-3 shadow-sm min-w-160">
                <img src="{% static "assets/assets_admin/appointment_icon.svg" %}" alt="Appointment Icon" width="30" class="me-3" />
            <div>
                <p class="h5 fw-semibold text-dark mb-0">{{ appointment_total }}</p>
                <small class="text-muted">Appointments</small>
            </div>
            </div>
            <div class="d-flex align-items-center bg-white rounded px-4 py-3 shadow-sm min-w-160">
                <img src="{% static "assets/assets_admin/patients_icon.svg" %}" alt="Patient Icon" width="40" height="40" class="me-3" />
            <div>
                <p class="h5 fw-semibold text-dark mb-0">{{ total_patients }}</p>
                <small class="text-muted">Patients</small>
            </div>
            </div>
        </div>

        <div class="bg-white rounded shadow-sm" style="max-width: 768px;">
            <div class="d-flex align-items-center border-bottom px-4 py-3">
                <i class="fas fa-list-alt text-primary me-2"></i>
                <h6 class="mb-0 fw-semibold text-dark">Latest Bookings</h6>
            </div>
            <ul class="list-unstyled mb-0">
                {% for appointment in appointments %}
                    <li class="d-flex justify-content-between align-items-center px-4 py-3 border-bottom">
                        <div class="d-flex align-items-center">
                            <img src="{{  appointment.doctor.image.url  }}" alt="Dr. Richard James" class="rounded me-3" width="40" height="40" />
                            <div class="small text-dark">
                                <p class="mb-0 fw-semibold">{{ appointment.doctor.name }}</p>
                                <small class="text-muted">Booking on {{ appointment.appointment_date }}</small>
                            </div>
                        </div>  
                        <button class="btn btn-sm btn-outline-danger border rounded-circle p-0" style="width: 30px; height: 30px;">×</button>
                    </li>
                {% endfor %}   
            </ul>
        </div>
    </section>

{% endblock %}

